header {
    background-color: rgb(44, 62, 80);
}

.navbar-toggler-icon {
    color: white;
}


.color-start {
    background-color: rgb(26, 188, 156);
}

.img-fluid {
    max-width: 100%;
}

.btn {
    border-radius: 0.3rem;
    background-color: rgb(26, 188, 156);
    color: white;
    border: 0.1rem solid rgb(26, 188, 156);
}

.color-end {
    background-color: rgb(58, 84, 109);
}

.card img {
    border-radius: 2rem;
}

.green {
    color: rgb(30, 176, 150);
}

p i {
    border-radius: 100%;
    border: 0.1rem solid white;
}

footer {
    background-color: rgb(44, 62, 80);
}



@media screen and (min-width:992px) {

    .img-fluid {
        max-width: 35%;
    }

    #navbarText {
        display: flex;
        justify-content: flex-end;
    }

}